<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JetFrames.AppleJobs.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Default" providerName="MySql.Data.MySqlClient" connectionString="server=138.201.230.158;user id=admin_applejobs;pwd=dPARP0etzx;database=admin_applejobs_dev;CharSet=utf8;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
    <JetFrames.AppleJobs.Editor.Properties.Settings>
      <setting name="Grid01LayoutX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Grid01LayoutY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Grid01LayoutWidth" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="Grid01LayoutHeight" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="Grid02LayoutX" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Grid03LayoutX" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Grid04LayoutX" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="Grid02LayoutY" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Grid03LayoutY" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Grid04LayoutY" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="Grid02LayoutWidth" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="Grid03LayoutWidth" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="Grid04LayoutWidth" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="Grid02LayoutHeight" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="Grid03LayoutHeight" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="Grid04LayoutHeight" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="Grid01Expanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Grid02Expanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Grid03Expanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Grid04Expanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ZoomPadX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ZoomPadY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Zoom" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Grid05Expanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Grid05LayoutX" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="Grid05LayoutY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Grid05LayoutWidth" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="Grid05LayoutHeight" serializeAs="String">
        <value>NaN</value>
      </setting>
    </JetFrames.AppleJobs.Editor.Properties.Settings>
  </userSettings>
</configuration>